{% extends 'blog/base.html' %}

{% block content %}
<div class="col sm-10">
    <h2 class="text-white my-5">About Page</h2>
    <p>I'm Abhishek Yadav, I created a blog platform "Miniblog" for brief discription
        of some topics that is very common as well as very important to scholars. The
        reason Behind this is to enlighten all people in easy way.
    </p>
    <p>There are many things in life of reserach fellows and scholars that is not easily
        accessible to common people so I thought about a platform where these things can
        available as a blog, so all people can get easily and understand.
    </p>
</div>
{% endblock content %}